## Import The Muranga County Dataset

In [1]:
import pandas as pd

df = pd.read_csv("Muranga.csv")

df.head()

/home/karis/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,2147483647,33133511,CHARAGU,CAROLINE WANGUI,F,24-06-94,21,MURANG'A,104,KANGEMA,516,KANYENYA-INI,1,KIRURI PR. SCH.,1.1,24-06-94.1,715846454
0,14118042,20474713,NJAU,JACINTA NJERI,F,1/1/1977,21,MURANG'A,110,GATANGA,549,GATANGA,78,KIRWARA PRY SCH.,1,1/1/1977 0:00,724 667 174
1,14104839,11334837,NYOIKE,LUCY WANJIKU,F,4/4/1971,21,MURANG'A,110,GATANGA,549,GATANGA,73,RWEGETHA PRY SCH.,2,4/4/1971 0:00,724 499 415
2,0,35998681,MWANGI,SAMUEL KAMAU,M,11/7/1998,21,MURANG'A,109,KANDARA,542,GAICHANJIRU,50,KARIUA PRIMARY SCHOOL,3,11/7/1998,0799 089456
3,2147483647,35040962,MWANGI,HANNAH GACHERI,F,10/5/1997,21,MURANG'A,109,KANDARA,542,GAICHANJIRU,50,KARIUA PRIMARY SCHOOL,1,10/5/1997,0798 354430
4,2147483647,35678083,MUTHONI,KELVIN MACHARIA,M,27-05-96,21,MURANG'A,109,KANDARA,542,GAICHANJIRU,50,KARIUA PRIMARY SCHOOL,2,27-05-96,0797 825716

# Get the number of rows and columns 

We have 17 columns with 293,920 rows of data

In [2]:
df.shape

(293920, 17)

## Drop the uneccesary columns 
We only need columns containing Surname,Names,County,Sub-County,Ward,Factory and PhoneNumber

In [84]:
new_df = df.drop(['2147483647','33133511','F','24-06-94','1.1','21','104','516','1','24-06-94.1','2147483647'], axis = 1)
new_df.head()

,CHARAGU,CAROLINE WANGUI,MURANG'A,KANGEMA,KANYENYA-INI,KIRURI PR. SCH.,715846454
0,NJAU,JACINTA NJERI,MURANG'A,GATANGA,GATANGA,KIRWARA PRY SCH.,724 667 174
1,NYOIKE,LUCY WANJIKU,MURANG'A,GATANGA,GATANGA,RWEGETHA PRY SCH.,724 499 415
2,MWANGI,SAMUEL KAMAU,MURANG'A,KANDARA,GAICHANJIRU,KARIUA PRIMARY SCHOOL,0799 089456
3,MWANGI,HANNAH GACHERI,MURANG'A,KANDARA,GAICHANJIRU,KARIUA PRIMARY SCHOOL,0798 354430
4,MUTHONI,KELVIN MACHARIA,MURANG'A,KANDARA,GAICHANJIRU,KARIUA PRIMARY SCHOOL,0797 825716

## Rename the remaining columns into appropriate column names
It's quite easy to infer ie Charagu is a Username etc etc

In [86]:
new_df.rename(columns={"CHARAGU": "Surname", "CAROLINE WANGUI": "Names", "MURANG'A":"County","KANYENYA-INI":"Ward","715846454":"PhoneNumber","KIRURI PR. SCH.":"Factory"},inplace = True)

In [87]:
new_df.head()

,Surname,Names,County,KANGEMA,Ward,Factory,PhoneNumber
0,NJAU,JACINTA NJERI,MURANG'A,GATANGA,GATANGA,KIRWARA PRY SCH.,724 667 174
1,NYOIKE,LUCY WANJIKU,MURANG'A,GATANGA,GATANGA,RWEGETHA PRY SCH.,724 499 415
2,MWANGI,SAMUEL KAMAU,MURANG'A,KANDARA,GAICHANJIRU,KARIUA PRIMARY SCHOOL,0799 089456
3,MWANGI,HANNAH GACHERI,MURANG'A,KANDARA,GAICHANJIRU,KARIUA PRIMARY SCHOOL,0798 354430
4,MUTHONI,KELVIN MACHARIA,MURANG'A,KANDARA,GAICHANJIRU,KARIUA PRIMARY SCHOOL,0797 825716

## Filter the dataset using keywords gotten from the  Messages 
We will use this filtered dataset to perform a merge later on. Lets refocus on the phonenumbers which were used to send bulk SMS.

In [99]:
factories = new_df[new_df["Factory"].str.contains("MAKOMBOKI|NDUTI|IKUMBI|KANYENYA-INI|GITHAMBO|NJUNU|KIRU|TEA|FACTORY",case=False)]
factories

,Surname,Names,County,KANGEMA,Ward,Factory,PhoneNumber
8,KIBUNJA,JOHN MWANGI,MURANG'A,KIGUMO,KANGARI,WAKIBUGI TEA BUYING CENTRE,0792 930 364
11,NJOROGE,PAUL MAINA,MURANG'A,KIGUMO,KANGARI,WAKIBUGI TEA BUYING CENTRE,0792 392 905
13,WANJIKU,JOSPHINE NJERI,MURANG'A,KIGUMO,KANGARI,IKUMBI PRIMARY SCHOOL,0791 737 654
14,WANJOHI,BETH WANJIKU,MURANG'A,KIGUMO,KANGARI,WAKIBUGI TEA BUYING CENTRE,0791 70698
16,NJOROGE,JOSEPH MACHARIA,MURANG'A,KIGUMO,KANGARI,WAKIBUGI TEA BUYING CENTRE,0791 178 035
...,...,...,...,...,...,...,...
293498,MWANGI,EVERLYNE WANJIRA,MURANG'A,KIHARU,MURARANDIA,INOI TEA BUYING CENTER,7
293516,NYAMBONO,LYDIA NYAMBEKI,MURANG'A,KIGUMO,KIGUMO,KIHOKO TEA BUYING CENTRE,7
293521,MWANGI,JULIUS KAMORE,MURANG'A,KIGUMO,KANGARI,MAKOMBOKI PRIMARY SCHOOL,7
293522,NGANGA,PETER MATEGA,MURANG'A,KIGUMO,KANGARI,MAKOMBOKI PRIMARY SCHOOL,7
293525,MUKENGA,MARY WANJIKU,MURANG'A,KIGUMO,KANGARI,KAHUHO TEA BUYING CENTRE,7

# Save the Original dataset as excel for further scrutiny

In [101]:
# new_df.to_excel("new_df.xlsx")

## Re-import the data as a new dataframe.
This is because I made changes which I consider vital

In [75]:
new_df = pd.read_csv("new_df.csv")
new_df

/home/karis/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Surname,Names,County,KANGEMA,Ward,Factory,PhoneNumber
0,0,NJAU,JACINTA NJERI,MURANG'A,GATANGA,GATANGA,KIRWARA PRY SCH.,724667174
1,1,NYOIKE,LUCY WANJIKU,MURANG'A,GATANGA,GATANGA,RWEGETHA PRY SCH.,724499415
2,2,MWANGI,SAMUEL KAMAU,MURANG'A,KANDARA,GAICHANJIRU,KARIUA PRIMARY SCHOOL,799089456
3,3,MWANGI,HANNAH GACHERI,MURANG'A,KANDARA,GAICHANJIRU,KARIUA PRIMARY SCHOOL,798354430
4,4,MUTHONI,KELVIN MACHARIA,MURANG'A,KANDARA,GAICHANJIRU,KARIUA PRIMARY SCHOOL,797825716
...,...,...,...,...,...,...,...,...
293915,293915,THIGA,HEZEKIAH NJUGUNA,MURANG'A,GATANGA,KARIARA,KIGORO NUR. SCH.,0
293916,293916,KABUKI,NJOROGE,MURANG'A,GATANGA,KARIARA,KIGORO NUR. SCH.,0
293917,293917,KARIUKI,PERIS NJERI,MURANG'A,GATANGA,KARIARA,KIGORO NUR. SCH.,0
293918,293918,MAINA,MARITHA NJOKI,MURANG'A,GATANGA,KARIARA,KIGORO NUR. SCH.,0
293919,293919,MUGO,MIRIAM WANJA,MURANG'A,GATANGA,KARIARA,GITEME PRY SCH.,0

## Import the dataset Containing phone numbers.
This is an excel sheet containing rows of phonenumbers. Take a look.

In [76]:
phonenum = pd.read_csv("kigitugi.csv")
phonenum.head()

   PhoneNumber
0    700011739
1    700074224
2    700104314
3    700104959
4    700206618

## Perform an Inner Join between the original dataset and the Phonenumber dataset to find columns which contain similar phone numbers
The intersection of these two datasets gives us 8880 rows. Hurrray!!

In [93]:
comparisons = pd.merge(new_df,phonenum)
comparisons

,Surname,Names,County,KANGEMA,Ward,Factory,PhoneNumber
0,WAMBUGU,DAVID KAMAU,MURANG'A,MATHIOYA,KIRU,KAIRO PRIMARY SCHOOL,729365871
1,MUCHIRI,BENSON MAINA,MURANG'A,MATHIOYA,KIRU,KIRU PRIMARY SCHOOL,729365596
2,MWANGI,PETER THUKU,MURANG'A,MATHIOYA,GITUGI,KIUU PRIMARY SCHOOL,729363183
3,WAWERU,EUNICE MURUGI,MURANG'A,MATHIOYA,GITUGI,GIKOE PRIMARY SCHOOL,729361905
4,KAMWITHA,JOHN KIRERU,MURANG'A,MATHIOYA,GITUGI,WAMBWE PRIMARY SCHOOL,729361127
...,...,...,...,...,...,...,...
8875,MAINA,JAPHETH MAINA,MURANG'A,MATHIOYA,GITUGI,GATARAGWA NURSERY SCHOOL,704749983
8876,IRUNGU,MARY WANJIRU,MURANG'A,MATHIOYA,GITUGI,GATARAGWA NURSERY SCHOOL,704749940
8877,KARIUKI,HARRISON MWANGI,MURANG'A,MATHIOYA,GITUGI,GITHENDU PRIMARY SCHOOL,704744022
8878,THUKU,ALICE WANJIKU,MURANG'A,MATHIOYA,GITUGI,KIUU PRIMARY SCHOOL,704743670
8879,MWANGI,EUNICE WAIRIMU,MURANG'A,KIHARU,TOWNSHIP,MJINI PRIMARY SCHOOL,704734464

In [ ]:
Perform an Outer Join between the original dataset and the Phonenumber dataset to find columns which contain similar phone numbers
The intersection of these two datasets gives us 17298 rows. Hurrray!!

In [96]:
total = pd.merge(factories,comparisons, how = "outer")
total

,Surname,Names,County,KANGEMA,Ward,Factory,PhoneNumber
0,KIBUNJA,JOHN MWANGI,MURANG'A,KIGUMO,KANGARI,WAKIBUGI TEA BUYING CENTRE,0792 930 364
1,NJOROGE,PAUL MAINA,MURANG'A,KIGUMO,KANGARI,WAKIBUGI TEA BUYING CENTRE,0792 392 905
2,WANJIKU,JOSPHINE NJERI,MURANG'A,KIGUMO,KANGARI,IKUMBI PRIMARY SCHOOL,0791 737 654
3,WANJOHI,BETH WANJIKU,MURANG'A,KIGUMO,KANGARI,WAKIBUGI TEA BUYING CENTRE,0791 70698
4,NJOROGE,JOSEPH MACHARIA,MURANG'A,KIGUMO,KANGARI,WAKIBUGI TEA BUYING CENTRE,0791 178 035
...,...,...,...,...,...,...,...
17293,MAINA,JAPHETH MAINA,MURANG'A,MATHIOYA,GITUGI,GATARAGWA NURSERY SCHOOL,704749983
17294,IRUNGU,MARY WANJIRU,MURANG'A,MATHIOYA,GITUGI,GATARAGWA NURSERY SCHOOL,704749940
17295,KARIUKI,HARRISON MWANGI,MURANG'A,MATHIOYA,GITUGI,GITHENDU PRIMARY SCHOOL,704744022
17296,THUKU,ALICE WANJIKU,MURANG'A,MATHIOYA,GITUGI,KIUU PRIMARY SCHOOL,704743670
17297,MWANGI,EUNICE WAIRIMU,MURANG'A,KIHARU,TOWNSHIP,MJINI PRIMARY SCHOOL,704734464

## Save the Data in Excel format for better editing

In [97]:
total.to_excel("total.xlsx")